doctype html
html
    head
        title Hello world!
        link(rel="stylesheet", href="css/main.css")
    body
        h1 generated with jade
        p it's working :))
        script(src='js/main.js')